body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: hsl(216, 12%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 350px;
}

.card {
  background-color: hsl(213, 19%, 18%);
  padding: 25px;
  border-radius: 15px;
  text-align: left;
  color: white;
}

.star {
  background-color: hsl(213, 19%, 25%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-top: 20px;
}

p {
  font-size: 14px;
  color: hsl(217, 12%, 63%);
}

.ratings {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.rating-btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background-color: hsl(213, 19%, 25%);
  color: white;
  cursor: pointer;
}

.rating-btn:hover {
  background-color: hsl(25, 97%, 53%);
}

.rating-btn.active {
  background-color: hsl(217, 12%, 63%);
}

.submit {
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  border: none;
  background-color: hsl(25, 97%, 53%);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.submit:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
}

.hidden {
  display: none;
}

.selected {
  background-color: hsl(213, 19%, 25%);
  padding: 8px;
  border-radius: 20px;
  text-align: center;
  color: hsl(25, 97%, 53%);
}
